:root {
    --master: #164A41;
    --secondary-master: #9DC88D;
    --text: #164A41;
    --details: #4D774E;
    --pure-black: #000000;
    --pure-white: #FFFFFF;
}

body {
    margin: auto;
    font-family: Roboto, sans-serif;
    position: relative;
    background-color: var(--master);
    color: var(--text);
}

a {
    color: var(--text);
}

header {
    font-size: 22px;
}