:root {
  --master: #164a41;
  --secondary-master: #9dc88d;
  --text: #164a41;
  --details: #4d774e;
  --pure-black: #000000;
  --pure-white: #ffffff;
}

body {
  margin: auto;
  font-family: Roboto, sans-serif;
  position: relative;
  background-color: var(--master);
  color: var(--text);
}

a {
  color: var(--text);
}

header {
  font-size: 22px;
}
